.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
  .right-nav > ul {
    display: flex;
    align-items: stretch;
} 

.left-nav {

  > ul {
    > li {
      font-family: sans-serif;
      font-size: 12;
      text-transform: uppercase;
      margin: 15px;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      margin: 15px;
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    font-size: 20px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
