<h1>Add Cat!</h1>

<form action="<%= cat_url(@cat) %>" method="post"> 

<label for="name"> Cat Name </label>
<input id='name' type='text' name='cat[name]'>
<br>

<label for="M"> M </label>
<input id='M' type='radio' value='M' name='cat[sex]'> 
<br>

<label for="F"> F </label>
<input id='F' type='radio' value='F' name='cat[sex]'> 
<br>

<label for="color"> Color </label>
<select id='color' name='cat[color]'> Options 
  <option disabled selected>--Select A Color--</option> 
  <option value='black'> Black </option>
  <option value='white'> White </option>
  <option value='orange'> Orange </option>
</select>
<br>

<label for='dob'>Date of Birth</label>
<input id='dob' type='date' name='cat[dob]'> 

<label for="description">Description</label>
<textarea name="cat[description]" id="description" cols="30" rows="10"></textarea>

</form>