<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li>CSS</li>
      <li>HTML</li>
      <li>Javascript</li>
      <li>Ruby</li>
    </ul>
  </nav>
</header>

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%